<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="css/header-style.css"/>
    <link rel="stylesheet" href="css/default.css"/>
    <link rel="stylesheet" href="css/bootstrap/bootstrap.css"/>
    <!--<link rel="stylesheet" href="css/bootstrap/bootstrap.min.css"/>-->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/customized.css"/>

    {% block head %}

    <title>{% block title %}{% endblock %} - My Webpage</title>
    {% endblock %}
</head>

<body>
<div class="main">{% block content %}{% endblock %}</div>
<div id="footer">
    {% block footer %}
    &copy; Copyright 2015 by <a href="http://www.markgogogo.com">Yiyuan Zhang</a>.
    {% endblock %}
</div>

<!--<script src="js/bootstrap.js"></script>-->
{% block js %}{% endblock %}
</body>
</html>